nav {
  background-color: white;
  padding: 10px 0;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav-links li {
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
}

.nav-links li:hover,
.nav-links li a:hover {
  color: #ff5722;
}

.cart-button {
  color: #000;
  font-weight: bold;
}
.header-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ff5722; /* o lo que estés usando */
  z-index: 1000;
  padding: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header-nav h1 {
  font-size: 4rem;        /* tamaño del texto */
  padding: 2rem 0;        /* más espacio vertical */
  line-height: .4;       /* ajuste de altura de línea */
}
